.message {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $l-size $m-size;
}

.message__text {
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0;
    word-break: break-all;
}